.bgColour {
    background-color:  var(--secondary-bg-color);
    width: 100%;
    height: 17.5vh;
}

.btcImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-left: 35%;
}

.pad {
height: 0%;
 width: 100%;
 background-color: green;
 float: left;
}

.pad > h1 {
    padding-top: 1vh;
    font-size: 15px;
    text-align: center;
}