.footer {
    background-color:  var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
    height: 0;
    width: 100%;
    padding-top: 0.5vh;
    padding-bottom: 0vh;
    position: relative;
    bottom: 0;
    z-index: 0;
    
}
/* .footer {
    background-color:  var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
    height: 0;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 3vh;
    bottom: 0%;
    position: fixed;
} */
.footer>.footertop {
    height: 100%;
    width: 100%;
    min-height: 50px;
}

.footer>.footertop>.footercenter {
    width: 5%;
    /* background-color: green; */
    height: 14vh;
    float: left;
}

.footer>.footertop>.spacerleft {
    /* background-color: red; */
    width: 27.5%;
    height: 14vh;
    float: left;
}

.footer>.footertop>.spacerright {
    /* background-color: red; */
    width: 12%;
    height: 14vh;
    float: right;
}

.footer>.footercopyright {
    height: 3vh;
    width: 100%;
    background-color:  var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
    min-height: 20px;
    font-size: 0.6em;
    text-align: center;
    color: white;
    padding-top: 0.6vh;
    padding-bottom: 0.5vh;
}

.footercenter>.Feedback {
    width: 100%;
    height: 100%;
}

.footercenter>.Feedback>.header {
    height: 10%;
    width: 100%;
}

.footercenter>.Feedback>h1 {
    color: #d8c254;
    font-size: 1.2em;
    text-align: left;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    opacity: 0.9;
}

.footercenter>.Feedback>p {
    color: rgb(255, 255, 255);
    font-size: 0.75em;
    text-align: left;
    margin: 0;
    padding: 0;
    opacity: 0.75;
}

.SpaceBetweenFeedback {
    height: 100%;
    width: 16%;
    float: left;
    /* background-color: black; */
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .footer>.footercopyright {
        font-size: 0.5em;
    }
}